/1_Stepik_OOP/.idea/
/0_finished/Coursera_PythonBasics/.idea/
/1_Stepik_OOP/.idea/
/2_Stepik_PythonBasicsAndUsage/.idea/
/4_Coursera_DeepDiveInPython/.idea/
/PythonAtExamplesAndTasks/.idea/
.gitignore
.idea
.pytest_cache